* {
  @include box-sizing;
  line-height: 1.4;
  margin: 0;
  padding: 0;
}

html,
body {
  color: $default-color;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans serif;
  font-size: 18px;
  @media (max-width: 600px) {
    font-size: 16px;
  }
}

body {
  -moz-font-feature-settings: 'liga' on;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: $sans-font;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: $sans-font;
  line-height: normal;
  padding: 0 0 .7rem;
}

main {
  margin: 0;
  width: 100%;
}

a {
  text-decoration: none;
}

blockquote {
  border-left: .25rem solid $grey-2;
  color: $grey-1;
  margin: .8rem 0;
  padding: .5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

td {
  vertical-align: top;
}
