.menu {
	margin: -2rem 0 0;
	opacity: 0;
	padding: 0 0 -.01rem;
	position: absolute;
	transition-duration: 300ms;
	transition-property: all;
	width: 100%;
	z-index: 100;

	&-trigger {
		display: block;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translate(0, -50%);
		width: 30px;
		z-index: 200;
	}

	&-active .menu-trigger {
		opacity: .8;
	}

	&-icon {
  	background-color: $default-color;
		display: inline-block;
		height: 5px;
		position: relative;
		transition-duration: 300ms;
  	transition-property: transform;
  	width: 30px;

  	&::before,
  	&::after {
			background: $default-color;
    	content: '';
			display: block;
    	height: 5px;
			position: absolute;
			transition-duration: 300ms;
    	transition-property: transform;
    	width: 30px;
		}

		&::before {
    	margin-top: -10px;
  	}

		&::after {
    	margin-top: 10px;
  	}
	}

	@media (min-width: 600px) {
		&-active .menu {
			background-color: $nav-bg;
			box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .3);
			opacity: 1;
			margin: -1rem 0 0;
			padding: 0 0 .5rem;
		}

		&-list {
			display: flex;
			justify-content: flex-start;
			list-style-type: none;
			width: 100%;
		}

		&-item {
			padding: 0 .15rem .275rem;
		}

		&-link {
			color: $default-color;
			font-family: $sans-font;
			font-size: 1.1rem;
			font-weight: bold;
			text-decoration: none;
			text-transform: uppercase;

			&:hover::after,
    	&:focus::after {
      	width: 100%;
   		}

    	&::after {
      	background-color: $blue;
      	content: '';
      	display: block;
				height: 2px;
				margin-top: -.15rem;
      	transition: width .3s ease-in-out;
      	width: 0%;
    	}
		}
	}

  &-active .menu-icon {
		background: rgba(0, 0, 0, 0);

		&::before {
			margin-top: 0;
      transform: rotate(45deg);
    }

    &::after {
      margin-top: 0;
      transform: rotate(-45deg);
    }
  }

	&-active .menu-link {
		opacity: 1;
	}
}
