.nav {
  background: $nav-bg;
  border-bottom: 1px solid#d1d1d1;
  bottom: auto;
  height: 70px;
  padding: 2rem 1rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 998;
  @media (max-width: 600px) {
    background: $white;
    border-bottom: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1), 0 2px 2px -2px rgba(0, 0, 0, .1);
    height: 65px;
    transform: translateY(0);
    transform: translate3d(0, 0, 0);
    transition: transform .2s, box-shadow .1s;
    will-change: transform;

    &.is-active::after {
      opacity: 1;
    }

    &::after {
      backface-visibility: hidden;
      bottom: auto;
      content: '';
      left: 0;
      opacity: 0;
      position: fixed;
      right: 0;
      top: 0;
      transition: opacity .2s;
      z-index: -1;
    }
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
  }

  /* &-container {
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 90%;
    @media (min-width: 600px) {
      box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .1);
      width: 80%;

      &.is-active::after {
        opacity: 1;
      }

      &::after {
        backface-visibility: hidden;
        bottom: 0;
        box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .3);
        content: '';
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity 1s;
        z-index: -1;
      }
    }
    @media (min-width: 1024px) {
      width: 70%;
    }
    @media (min-width: 1366px) {
      width: 80%;
    }
    @media (min-width: 1800px) {
      width: 70%;
    }
  }*/

  &-title {
    color: $default-color;
  }
}

header {
  display: flex;
  font-family: $title-font;
  font-size: 3rem;
  justify-content: flex-start;
  letter-spacing: -.25rem;
  line-height: normal;
  opacity: .7;
  position: absolute;
  top: 0;
  transition: opacity 400ms ease-in-out;
  z-index: 999;

  &:hover {
    opacity: .8;
    transition: opacity 400ms ease-in-out;
  }
}

.heads-up {
  @media (max-width: 600px) {
    box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
    transform: translateY(-65px);
    transform: translate3d(0, -65px, 0);
    transition: transform .4s, box-shadow .6s;
  }
}

.dot {
  color: $blue;
}

footer {
  font-family: $sans-font;
  padding: 2rem 0;
  text-align: center;
}
