.nav {
  background: $nav-bg;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  @media (max-width: 600px) {
    background: $nav-bg-phone;
    transform: translateY(0);
    transform: translate3d(0, 0, 0);
    transition: .5s transform;
    will-change: transform;

    &.is-active::after {
      opacity: 1;
    }

    &::after {
      backface-visibility: hidden;
      bottom: 0;
      box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
      content: '';
      left: 0;
      opacity: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: opacity 1s;
      z-index: -1;
    }
  }

  a {
    text-decoration: none;
    text-transform: uppercase;
  }

  &-container {
    margin: 0 auto;
    position: relative;
    width: 90%;
    @media (min-width: 600px) {
      box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .1);
      width: 80%;

      &.is-active::after {
        opacity: 1;
      }

      &::after {
        backface-visibility: hidden;
        bottom: 0;
        box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .3);
        content: '';
        left: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: opacity 1s;
        z-index: -1;
      }
    }
    @media (min-width: 1024px) {
      width: 70%;
    }
    @media (min-width: 1366px) {
      width: 60%;
    }
    @media (min-width: 1800px) {
      width: 40%;
    }
  }

  &-title {
    @include transition(all .2s ease-out);
    color: $default-color;
    display: inline-block;
    font-family: $title-font;
    font-size: 2.5rem;
    letter-spacing: -.17rem;
    margin: 0;
    @media (min-width: 414px) {
      font-size: 3rem;
    }
    @media (min-width: 1440px) {
      font-size: 4rem;
    }

    &:hover {
      > .dot {
        color: $red;
        transition: color 1s ease-in;
      }
    }
  }
}

.heads-up {
  @media (max-width: 600px) {
    transform: translateY(-5.2rem);
    transform: translate3d(0, -5.2rem, 0);
    transition: .6s transform;
  }
}

.dot {
  color: $blue;
  transition: color 1s ease-out;
}

footer {
  font-family: $sans-font;
  padding: 2rem 0;
  text-align: center;
}
