.pagination {
  border-top: .5px solid $grey-2;
  font-family: $sans-font;
  margin-bottom: .5rem;
  padding-top: .5rem;
  position: relative;
  text-align: center;

  span {
    color: $default-shade;
    font-size: 1.1rem;
  }

  .top {
    @include transition(all .3s ease-out);
    color: $default-color;
    font-family: $sans-font;
    font-size: 1.5rem;
    opacity: .5;

    &:hover {
      opacity: 1;
    }
  }

  .left {
    left: 0;
  }

  .right {
    right: 0;
  }
}
