.post {
  padding: 4.25rem 0rem 1rem 0rem;

  &-info {
    color: $default-tint;
    font-family: $palatino;
    letter-spacing: .5px;
    text-align: center;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $default-shade;
    font-family: $sans-font;
    font-size: 2.75rem;
    margin: 1rem 0;
    text-align: center;
    @media screen and (max-device-width: 500px) {
      font-size: 2rem;
    }
  }

  &-line {
    border-top: .4rem solid $default-shade;
    display: block;
    margin: 0 auto 3rem;
    width: 4rem;
    @media screen and (max-device-width: 500px) {
      border-top: .1rem solid $default-shade;
      margin: 0 auto 2rem;
    }
  }

  p {
    margin: 0 0 1rem;
    text-align: justify;
  }

  a:hover {
    text-decoration: underline;
  }
}
