.post {
  font-family: $serif-font;
  margin: 0 auto;
  padding-top: 130px;
  width: 70%;
  @media (max-width: 600px) {
    padding-top: 80px;
    width: 90%;
  }

  &-date {
    color: $default-color;
    font-family: $sans-font;
    font-size: .8rem;
    letter-spacing: .2px;
    opacity: .6;
    text-transform: uppercase;

    span {
      font-style: italic;
    }
  }

  &-title {
    color: $default-shade;
    font-family: $sans-font;
    font-size: 2rem;
    font-weight: 700;
    margin-top: .4rem;
    text-align: left;
    width: 100%;
    @media (min-width: 500px) {
      font-size: 3rem;
    }
  }

  &-line {
    border-top: .1rem solid $default-shade;
    display: block;
    margin: 1rem 0;
    width: 6rem;
    @media (min-width: 500px) {
      border-top: .2rem solid $default-shade;
      margin-bottom: 2rem;
    }
  }

  ol {
    padding: 0 0 1rem;
  }

  li {
    list-style-position: inside;
  }

  p {
    letter-spacing: .003rem;
    margin: 0 0 1rem;
    text-align: justify;
  }

  a {
    border-bottom: 1px solid $red;
    color: $default-color;
    display: inline-block;

    &:hover::after,
    &:focus::after {
      width: 100%;
    }

    &::after {
      background-color: $red;
      content: '';
      display: block;
      height: 2px;
      transition: width .3s ease-in-out;
      width: 0%;
    }
  }
}
