$default-color: #555;
$default-shade: #353535;
$default-tint: #aaa;
$grey-1: #979797;
$grey-2: #e5e5e5;
$grey-3: #f9f9f9;
$white: #fff;
$blue: #73c2fb;
$shadow-color: rgba(204, 204, 204, 0.8);

$title-font: Poppins, 'Helvetica Neue', sans-serif;
$serif-font: Lora, 'Times New Roman', Times, serif;
$palatino: Roboto, Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', 'Georgia', serif;
$sans-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$monospaced-font: Inconsolata, Menlo, Monaco, monospace;
$code-color: #73c2fb;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}
